.showAnswer {
  display: inline-block;
}
.answer {
  display: none;
}

.question {
  display: block;
  border: solid;
  border-radius: 8px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
.correct.showAnswer {
  background-color: #ff3333;
}
.wrong.showAnswer {
  background-color: #00dddd;
}
